/* Герой */

.section-hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg.jpg);

  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--buckground-color-2);
  background-size: 1600px;
}

/* Перелік переваг */

.list-perevag {
  display: flex;
  column-gap: 30px;
}

.section-bott {
  padding-bottom: 94px;
}

/* Наша робота */

.hobby {
  display: flex;
  column-gap: 30px;
}

/* колір фону команди*/

.color-team {
  background-color: var(--buckground-color-1);
}

.list-team {
  display: flex;
  column-gap: 30px;
}

.color-foto-team {
  background-color: var(--primari-buckground-color);
  max-width: 270px;
  text-align: center;
}

/* footer font color */

.site-footer {
  color: var(--font-color-footer);
  line-height: 1.7;
  transition: color var(--animation);
  font-style: normal;
}

.site-footer:hover,
.site-footer:focus {
  color: var(--secondary-font-color);
}

.site-footer-2 {
  color: var(--primari-buckground-color);
  transition: color var(--animation);
  font-style: normal;
}

.site-footer-2:hover,
.site-footer-2:focus {
  color: var(--secondary-font-color);
}

.footer-top {
  margin-top: 20px;
}

/* Кліенти */

.client {
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.client-fon {
  padding: 0;
  margin: 0;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border var(--animation);
}

.client-fon svg {
  fill: rgba(175, 177, 184, 1);
  transition: fill var(--animation);
}

.client-fon:hover svg,
.client-fon:focus svg {
  fill: rgba(33, 150, 243, 1);
}

.client-fon:hover,
.client-fon:focus {
  border: 1px solid rgba(33, 150, 243, 1);
  border-radius: 4px;
}

/* Секція футер */

.footer-bottom {
  margin-bottom: 9px;
}

.section-footer {
  background-color: var(--buckground-color-2);
  line-height: 1.7;

  padding: 60px 0px;
}

/* Портфолио */

.portfolio-box {
  padding: 20px 0px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;
}

/* Сітка єлементів */

.flex-container {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.flex-container .flex-element {
  width: 370px;

  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--animation);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.perevagi-list {
  display: flex;
}

.perevagi-fon:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

.perevagi-icon {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;

  background-color: var(--buckground-color-1);
}

.icon-win {
  align-items: center;
}

.color-foto-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Команда */

.team-box {
  padding: 30px 0px;
}

.team-icon {
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.team-fon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation);
}

.team-fon svg {
  fill: rgba(175, 177, 184, 1);
  transition: fill var(--animation);
}

.team-fon:hover,
.team-fon:focus {
  background-color: rgba(33, 150, 243, 1);
}

.team-fon:hover svg,
.team-fon:focus svg {
  fill: rgba(255, 255, 255, 1);
}

/* Футер соцмережі */

.footer-icon {
  display: flex;
  padding: 0;
  margin-top: 0;
  gap: 10px;
  align-items: center;
}

.footer-fon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation);
}

.footer-fon svg {
  fill: rgba(255, 255, 255, 1);
}

.footer-fon:hover,
.footer-fon:focus {
  background-color: rgba(33, 150, 243, 1);
}

.section-footer .footer-block {
  display: flex;
  align-items: baseline;
}

.section-footer .footer-list {
  margin-left: 70px;
}

/* Футер форма відправки */

.footer-form {
  margin-left: auto;
}

.footer-email-form {
  display: flex;
}

.footer-email-form {
  display: flex;
}

.email-form-input {
  padding: 15px 16px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.email-form-field {
  margin-right: 12px;
}

.footer-btn-icon {
  fill: var(--primari-buckground-color);
  margin-left: 10px;
}

/* Оверлей */

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--primari-buckground-color);
  background-color: rgba(33, 150, 243, 0.9);
  line-height: 1.55;

  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform var(--animation);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity var(--animation), visibility var(--animation);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 580px;
  background-color: var(--primari-buckground-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.modal-close {
  transition: fill var(--animation);
}

.close-btn:hover .modal-close {
  fill: var(--secondary-font-color);
}

.hobby li {
  position: relative;
}

.description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

/* Форма заповнення */

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--third-font-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-text-form {
  margin-bottom: 10px;
}

.modal-icon-wrapper {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: block;
  fill: var(--third-font-color);
  transition: fill var(--animation), border var(--animation);
}

.input-form:hover,
.input-form:focus {
  border: 1px solid var(--secondary-font-color);
}

.input-form:hover + .modal-icon {
  fill: var(--secondary-font-color);
}

.input-form:focus + .modal-icon {
  fill: var(--secondary-font-color);
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;

  padding-left: 42px;
  transition: border-color var(--animation);
}

/* Коментар */

.modal-form-user {
  margin-bottom: 20px;
}

.input-form-user {
  display: flex;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;

  padding: 12px 16px;
  transition: border-color var(--animation);
}

.input-form-user::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.input-form-user:hover,
.input-form-user:focus {
  outline: none;
  border-color: var(--secondary-font-color);
}

/* Чекбокс */

.checkbox-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 9px;
}

.input-form-policy {
  position: absolute;
  appearance: none;
}

.input-form-policy:checked + .checkbox-icon {
  background-color: var(--secondary-font-color);
}

.input-form-policy:checked + .checkbox-icon .checkbox-choice {
  display: block;
}

.input-form-policy:focus + .checkbox-icon {
  box-shadow: 0 0 0 2px var(--secondary-font-color);
}

.modal-policy {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-font-color);
  text-decoration: underline;
}

.title-form-policy {
  display: inline-block;
  line-height: 1.71;
  color: var(--contact-color);
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 1px solid var(--third-font-color);
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-choice {
  display: none;
  fill: var(--primari-buckground-color);
}
