.title-h2 {
  color: var(--third-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  margin-bottom: 50px;
  text-align: center;
}

/* Заголовки, мадальне вікно */

.title-form {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  color: var(--contact-color);

  margin-bottom: 4px;
}
